.bf{
    float: right;
}
.flightCard{
    max-width: 800px;
}

.container{
    margin-top: 70px;
    margin-bottom: 20px
}
// .image{
//     height:40em; background-size:cover; width:auto;
//     background-image: url('../../shared/airplane.jpg');
//     background-position:50% 50%;
//   }