<div *ngFor="let info of information" class="container">
  <mat-card class="flightCard m-auto" >
    <mat-card-title>{{info.origen}} - {{info.destino}}</mat-card-title>
    <mat-card-subtitle>${{info.totalPrice}}.000</mat-card-subtitle>
    <mat-card-actions>
        <button class="bf" (click)="openReserve(info)" mat-raised-button  color="warn"> Reservar </button>
    </mat-card-actions>
    <mat-card-content>
      {{info.date.getDate()}} / {{info.date.getMonth()+1}} / {{info.date.getFullYear()}} 
        <br>
      Hora: {{info.horario}}
    </mat-card-content>
  </mat-card>
</div>